.active {
  background-color: #F7F7F7;
  
  & .player__name {
    font-weight: 300;
  }
  
  & .player__name::after {
    content: "\2022";
    font-size: 3rem;
    position: absolute;
    color: $mainRed;
    top: -7px;
    right: 10px;
  }
}