.btn {
  position: absolute;
  width: 15%;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.25rem;
  color: #444;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  
  &:hover {
    font-weight: 500;
  }
}

.btn--new {
  top: 45px;
}

.btn--roll {
  top: 405px;
}

.btn--hold {
  top: 465px;
}