.btn {
  position: absolute;
  width: 15%;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.25rem;
  color: #444;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  
  @mixin atMedium {
    width: 16%;
    font-size: .9rem;
  }
  
  @mixin atSmall {
    font-size: .8rem;
  }
  
  &:hover {
    font-weight: 500;
  }
}

.btn--new {
  top: 45px;
  
  @mixin atSmall {
    top: 42%;
    width: 140px;
    padding: 4px;
    font-size: 1rem;
    border-radius: none;
  }
}

.btn--roll {
  top: 405px;
  
  @mixin atMedium {
    top: 70%;
  }
  
  @mixin atSmall {
    transform: none;
    left: 5%;
    top: 34%;
    width: 60px;
    height: 60px;
  }
}

.btn--hold {
  top: 465px;
  
  @mixin atMedium {
    top: 80%;
  }
  
  @mixin atSmall {
    transform: none;
    left: 5%;
    top: 56%;
    width: 60px;
    height: 60px;
  }
}